<main class="fondo ">
    <div class="d-flex justify-content-center container mb-5">
        <h1 class="Logo titulo my-5 ">Pizza Poio</h1>
    </div>
    <div class="d-flex justify-content-center container ">
        <div class="d-flex justify-content-center caja1 ">
            <form class="d-flex justify-content-center flex-column needs-validation was-validated" novalidate="">
                <div class="mb-5">
                    <div class="">
                        <label for="inputEmail3" class="Texto fw-bold mb-2 form-label">Correo Electronico</label>
                        <input type="email" class="form-control rounded-5 in px-5" id="inputEmail3" >
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <label for="inputPassword3" class="Texto fw-bold mb-2 form-label">Contraseña</label>
                        <input type="password" class="form-control rounded-5 in px-5" id="inputPassword3"  value="" required="">
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Looks bat!</div>
                    </div>
                </div>

                <div class="mt-5 d-flex justify-content-center ">
                    <button class="btn btn-primary Texto rounded-5 in text-black fw-bold px-4" type="submit">Ingresar</button>
                </div>

                <div class="mt-3 Texto registro d-flex justify-content-center">
                    <p class="fw-bold">¿No tienes cuenta? <a class="registro fw-bold text-decoration-none" routerLink="/registro" >Registrate</a></p>
                </div>
            </form>


            <form class="row g-3 needs-validation was-validated" novalidate="">
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">First name</label>
                  <input type="text" class="form-control" id="validationCustom01" value="" required="">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Looks xxx!
                  </div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
              </form>
        </div>
    </div>
</main>
